<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des utilisateurs</title>
</head>
<body>
<h1>Liste des utilisateurs</h1>
<table>
    <thead>
        <tr>
            <th>Pseudo</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
            <th>Email</th>
            <th>Administrateur</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.handle}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.birthDate}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.admin} ? 'Oui' : 'Non'"></td>
            <td><a th:href="@{'/admin/utilisateur/{handle}/suppression' (handle=${user.handle})}"
                   onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">Supprimer</a></td>
        </tr>
    </tbody>
</table>
</body>
</html>